#sections {
  position: relative;
  display: inline-block;
  width: 30vw;
  top: 2vw;
  z-index: 90;
}

.step {
  margin-bottom: 100px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 15vw;
  left:35vw;
  z-index: 1;
  height: 100vw;
  width: 50vw;
}



.step:last-child {
  margin-bottom:calc(100vh - 100px);
}




